/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
$blue: #51A4B2;
$bluel: #69C6D7;
$bluell: #9AD2DC;
$grayd: #6A7173;
$grayl: #EAE7E7;
$grayb: #D9DCDC;

@font-face {
  font-family: 'regular';
  src: url('../files/fonts/Montserrat-Regular.ttf');
}
@font-face {
  font-family: 'bold';
  src: url('../files/fonts/Montserrat-Bold.ttf');
}


a {
  color: $bluell; }
a:hover {
  color: $bluell; }

body,p,h4,ul,li {
  font-family: 'regular';
  color: $grayd;
  .bold {
    font-family: 'bold'
  }
}
h2,h3,h5,h6 {
  font-family: 'bold';
}

#nav {
  height: 163px;
  width: 40px;
  margin: 15px;
  transition: 1s ease;
  opacity: 1;
  background-color: #D9DCDC;
  border-radius: 35px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  box-shadow: 0px 1px 2px rgba(black, 0.5);
  @media screen and (max-width: 700px) {
    bottom: 0;
  }
  a {
    width: 30px;
    height: 30px;
    margin: auto;
  }
  .nav-button {
    margin: auto;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: $grayl;
    background-position: center;
    background-size: 20px;
    transition: 0.2s ease;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    cursor: pointer;
    position: relative;
    color: $blue;

    &:hover:after {
      position: absolute;
      right: 40px;
      background-color: #D9DCDC;
      width: 120px;
      height: 30px;
      line-height: 30px;
      top: 1px;
      font-family: 'bold';
      font-size: 14px;
      color: $blue;
      padding-left: 5px;

    }

    &:hover, &.selected {
      -webkit-filter: grayscale(0%);
      filter: grayscale(0%);
      box-shadow: 0 0.5px 1px 0 rgba(black, 0.5);
    }
    &.home {
      background-image: url('../files/home.png');
      &:hover:after {
        content: 'HOME';
      }
    }
    &.bio {
      background-image: url('../files/bio.png');
      &:hover:after {
        content: 'ABOUT';
      }
    }
    &.oatmeal {
      background-image: url('../files/oatmeal.png');
      &:hover:after {
        content: 'OATMEAL.CSS';
      }
    }
    &.dropdown {
      background-image: url('../files/dropdown.png');
      &:hover:after {
        content: 'DANCEFLOOR';
      }
    }
    &.links {
      background-image: url('../files/links.png');
      &:hover:after {
        content: 'LINKS';
      }
    }
  }
}

#contact-me {
  z-index: 10;
  position: fixed;
  overflow: hidden;
  bottom: 0;
  right: 0;
  margin: 10px;
  cursor: pointer;
  box-shadow: 0 0px 2px 0 rgba(black, 0.66);
  background-color: #949494;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  -webkit-transition: 0.1s ease;
  -moz-transition: 0.1s ease;
  -o-transition: 0.1s ease;
  transition: 0.1s ease;

  @media screen and (max-width: 700px) {
    left: 0;
  }
  &:after {
    content: '';
    top: 50px;
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: $blue;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
  }
  &:hover {
    &:after {
      top: 0;
    }
    #contact-me-cover {
      animation-name: shake;
      animation-duration: 0.8s;
      animation-iteration-count: 1;
    }
    @keyframes shake {
      0% { transform: rotate(0deg); }
      10% { transform: rotate(15deg); }
      32% { transform: rotate(-12deg); }
      50% { transform: rotate(10deg); }
      66% { transform: rotate(-5deg); }
      82% { transform: rotate(2deg); }
      1000% { transform: rotate(0deg); }
    }
  }
  #contact-me-cover {
    position: absolute;
    background-image: url('../files/contact-me.png');
    background-size: 50px;
    background-position: center;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    z-index: 3;
  }
}


#container {
  background-color: $blue;
  height: 100vh;
  width: 100%;
  overflow: scroll;


  #wrapper {
    padding-top: 40px;
    background-color: #EAE7E7;
    overflow: scroll;
    transition: 0.3s ease;
    height: 100vh;
    transition: 0.5s ease;

    #summary {
      width: 98%;
      padding: 10px;
      margin: auto;
      h5 {
        border-bottom: 0;
      }
      p {
        text-align: justify;
      }
      .blue-text {
        color: $blue;
      }
    }

    .main {
      height: auto;
      overflow: hidden;
      background-color: transparent;
      width: 960px;
      position: relative;
      border-radius: 3px;
      margin: auto;
      transition: 1s ease;
      @media screen and (max-width: 800px) {
        width: 600px
      }
      @media screen and (max-width: 550px) {
        width: 100%;
      }

      &.about-me {
        padding: 10px;
        .bold {
          color: $blue;
        }
      }

      .download-button {
        margin: auto;
        width: 200px;
        height: 40px;
        border-radius: 22px;
        text-align: center;
        background-color: $blue;
        cursor: pointer;
        padding-top: 10px;
        text-transform: uppercase;
        font-size: 12px;
        -webkit-transform: scale(0.95);
        -moz-transform: scale(0.95);
        -o-transform: scale(0.95);
        transform: scale(0.95);
        -webkit-transition: 0.1s ease;
        -moz-transition: 0.1s ease;
        -o-transition: 0.1s ease;
        transition: 0.1s ease;
        a {
          color: $bluell;
          text-decoration: none;
          -webkit-transition: 0.1s ease;
          -moz-transition: 0.1s ease;
          -o-transition: 0.1s ease;
          transition: 0.1s ease;
        }
        &:hover {
          a {
            color: $grayb;
          }
          -webkit-box-shadow: 0 1px 2px 0 rgba(black, 0.66);
          -moz-box-shadow: 0 1px 2px 0 rgba(black, 0.66);
          box-shadow: 0 1px 2px 0 rgba(black, 0.66);
          -webkit-transform: scale(1);
          -moz-transform: scale(1);
          -o-transform: scale(1);
          transform: scale(1);
        }
      }

      h2 {
        color: $bluel;
        text-align: center;
        font-family: 'bold';
        padding-top: 40px;
        transition: 0.4s ease;
      }

      h4 {
        color: $bluel;
        text-align: center;
      }

      h5 {
        color: $blue;
        border-bottom: 5px solid $blue;
        margin-bottom: 15px;
      }

      h6 {
        color: $grayd;
        font-size: 15px;
        margin-top: 5px;
        margin-bottom: 5px;
        &.blue {
          color: $blue;
          font-family: 'regular'
        }
      }
      .light {
        font-family: 'regular'
      }
      .entry {
        display: none;
      }

      #icons {
        height: auto;
        width: 100%;
        margin: auto;
        transition: 2.5s ease;
        opacity: 1;
        text-align: center;

        .icon {
          width: 19%;
          height: 100px;
          min-width: 120px;
          display: inline-block;
          margin: 0px;
          background-repeat: no-repeat;
          background-size: auto 60px;
          background-position: center;
          -webkit-transition: 0.2s ease;
          -moz-transition: 0.2s ease;
          -o-transition: 0.2s ease;
          transition: 0.2s ease;
          -webkit-transform: scale(0.9);
          -moz-transform: scale(0.9);
          -o-transform: scale(0.9);
          transform: scale(0.9);

          &:hover {
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            -o-transform: scale(1);
            transform: scale(1);
          }

          @media screen and (max-width: 800px) {
            background-size: auto 47px;
          }

          &.dribbble {
            background-image: url('../files/dribbble.png');
          }
          &.codepen {
            background-image: url('../files/codepen.png');
          }
          &.github {
            background-image: url('../files/github.png');
          }
          &.email {
            background-image: url('../files/email.png');
          }
          &.linkedin {
            background-image: url('../files/linkedin.png');
          }
        }
      }

      .left,.right {
        padding: 15px;
        opacity: 1;
        display: inline-block;
        transition: 0.5s ease;
      }

      .left {
        @media screen and (min-width: 550px) {
          width: 33.333%;
        }
        padding: 15px;
        &>div {
          margin-bottom: 20px;
        }
        .skills {
          // border: 1px solid red;

          .skill-wrapper {
            width: 100%;
            height: 30px;
            margin: 10px 0px;
            background-color: $grayb;
            overflow: hidden;
            cursor: default;

              .skill-bar {
                height: 30px;
                &.js {
                  width: 80%;
                  &:hover {
                    width: 85%;
                  }
                }
                &.jq {
                  width: 76%;
                  &:hover {
                    width: 81%;
                  }
                }
                &.react {
                  width: 82%;
                  &:hover {
                    width: 87%;
                  }
                }
                &.ng {
                  width: 60%;
                  &:hover {
                    width: 65%;
                  }
                }
                &.css {
                  width: 86%;
                  &:hover {
                    width: 91%;
                  }
                }
                &.rails {
                  width: 55%;
                  &:hover {
                    width: 60%;
                  }
                }
                &.psd {
                  width: 65%;
                  &:hover {
                    width: 70%;
                  }
                }
                &.ai {
                  width: 68%;
                  &:hover {
                    width: 73%;
                  }
                }
                &.sk {
                  width: 79%;
                  &:hover {
                    width: 84%;
                  }
                }

                display: inline-block;
                transition: 0.2s ease;
                background-color: $blue;
                &:hover {
                  p {
                    color: $grayb;
                  }
                }
                p {
                  transition: 0.2s ease;
                  color: $bluell;
                  padding:3px 0px 0px 20px;

                }
              }
          }
        }

        .projects {
          a {
            text-decoration: none;
            h6 {
              transition: 0.2s ease;
              background-color: transparent;
              &:hover {
                color: $blue;
                background-color: $grayl;
              }
            }
          }
          p {
            color: $blue;
          }
        }
      }
      .right {
        @media screen and (min-width: 550px) {
          margin-left: 5px;
          width: 65%;
        }
        .professional {
          a {
            color: $blue;
            text-decoration: none;
          }
          ul {
            margin-top: 10px;
            li {
              font-size: 14px;
            }
          }
        }
        .more {
          p {
            margin-top: 10px;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}
#picture {
  background-image: url('../files/profile.jpg');
  width: 200px;
  height: 200px;
  margin: auto;
  border-radius: 120px;
  border: 4px solid $blue;
  transform: scale(0.8);
  -webkit-transition: 0.1s ease;
  -moz-transition: 0.1s ease;
  -o-transition: 0.1s ease;
  transition: 0.1s ease;
  background-size: cover;
  &:hover {
    transform: scale(1);
  }
}
#big-picture {
  background-image: url('../files/big-picture.jpg');
  width: 350px;
  height: 350px;
  margin: auto;
  border: 4px solid $blue;
  background-size: cover;
}
