/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
@font-face {
  font-family: 'regular';
  src: url("../files/fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: 'bold';
  src: url("../files/fonts/Montserrat-Bold.ttf");
}
@font-face {
  font-family: 'text';
  src: url("../files/fonts/OpenSans-Regular.ttf");
}
/* line 24, ../sass/dropdown.scss */
body, h4, input, button, .button {
  font-family: 'regular';
  color: #6A7173;
}
/* line 27, ../sass/dropdown.scss */
body .bold, h4 .bold, input .bold, button .bold, .button .bold {
  font-family: "bold";
}
/* line 30, ../sass/dropdown.scss */
body .courier, h4 .courier, input .courier, button .courier, .button .courier {
  font-family: "courier new";
}

/* line 34, ../sass/dropdown.scss */
h2, h3, h5, h6, .mont-font {
  font-family: 'bold';
}

/* line 37, ../sass/dropdown.scss */
p, div, ul, li {
  font-family: 'text';
  color: #3a3a3a;
}

/* line 42, ../sass/dropdown.scss */
.blue-text {
  color: #51A4B2;
}

/* line 45, ../sass/dropdown.scss */
.bigger {
  font-size: 17px;
}

/* line 49, ../sass/dropdown.scss */
#nav {
  height: 200px;
  width: 40px;
  margin: 15px;
  transition: 1s ease;
  opacity: 1;
  background-color: #D9DCDC;
  border-radius: 35px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}
/* line 61, ../sass/dropdown.scss */
#nav a {
  width: 30px;
  height: 30px;
  margin: auto;
}
/* line 67, ../sass/dropdown.scss */
#nav .nav-button {
  margin: auto;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: #EAE7E7;
  background-position: center;
  background-size: 20px;
  transition: 0.2s ease;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  cursor: pointer;
  position: relative;
}
/* line 81, ../sass/dropdown.scss */
#nav .nav-button:hover:after {
  position: absolute;
  right: 40px;
  background-color: #D9DCDC;
  width: 120px;
  height: 30px;
  line-height: 30px;
  top: 1px;
  font-family: 'bold';
  font-size: 14px;
  color: #51A4B2;
  padding-left: 5px;
}
/* line 96, ../sass/dropdown.scss */
#nav .nav-button:hover, #nav .nav-button.selected {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}
/* line 101, ../sass/dropdown.scss */
#nav .nav-button.home {
  background-image: url("../files/home.png");
}
/* line 103, ../sass/dropdown.scss */
#nav .nav-button.home:hover:after {
  content: 'HOME';
}
/* line 107, ../sass/dropdown.scss */
#nav .nav-button.bio {
  background-image: url("../files/bio.png");
}
/* line 109, ../sass/dropdown.scss */
#nav .nav-button.bio:hover:after {
  content: 'ABOUT';
}
/* line 113, ../sass/dropdown.scss */
#nav .nav-button.oatmeal {
  background-image: url("../files/oatmeal.png");
}
/* line 115, ../sass/dropdown.scss */
#nav .nav-button.oatmeal:hover:after {
  content: 'OATMEAL.CSS';
}
/* line 119, ../sass/dropdown.scss */
#nav .nav-button.dropdown {
  background-image: url("../files/dropdown.png");
}
/* line 121, ../sass/dropdown.scss */
#nav .nav-button.dropdown:hover:after {
  content: 'DROPDOWN';
}
/* line 125, ../sass/dropdown.scss */
#nav .nav-button.links {
  background-image: url("../files/links.png");
}
/* line 127, ../sass/dropdown.scss */
#nav .nav-button.links:hover:after {
  content: 'LINKS';
}

/* line 135, ../sass/dropdown.scss */
#container {
  background-color: #13BFDC;
  height: 100vh;
  width: 100%;
  overflow: scroll;
}
/* line 142, ../sass/dropdown.scss */
#container #wrapper {
  background-color: #EAE7E7;
  padding-top: 100px;
  padding-bottom: 100px;
  min-height: 100vh;
  transition: 0.2s ease;
  overflow: scroll;
  width: 100%;
}
/* line 155, ../sass/dropdown.scss */
#container #wrapper .main {
  height: auto;
  overflow: hidden;
  background-color: transparent;
  width: 800px;
  position: relative;
  border-radius: 3px;
  margin: auto;
  transition: 1s ease;
  padding-bottom: 20px;
}
@media screen and (max-width: 950px) {
  /* line 155, ../sass/dropdown.scss */
  #container #wrapper .main {
    width: 80%;
  }
}
@media screen and (max-width: 550px) {
  /* line 155, ../sass/dropdown.scss */
  #container #wrapper .main {
    width: 380px;
  }
}
/* line 172, ../sass/dropdown.scss */
#container #wrapper .main h4 {
  color: #51A4B2;
  text-align: center;
  font-family: 'bold';
  padding-top: 40px;
  transition: 0.4s ease;
}
/* line 180, ../sass/dropdown.scss */
#container #wrapper .main h5 {
  color: #69C6D7;
  text-align: center;
}
/* line 185, ../sass/dropdown.scss */
#container #wrapper .main h6 {
  color: #6A7173;
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}
/* line 190, ../sass/dropdown.scss */
#container #wrapper .main h6.blue {
  color: #51A4B2;
  font-family: "regular";
}
/* line 195, ../sass/dropdown.scss */
#container #wrapper .main .section-title {
  color: #51A4B2;
  border-bottom: 5px solid #51A4B2;
  font-size: 15px;
  margin-bottom: 15px;
}
/* line 202, ../sass/dropdown.scss */
#container #wrapper .main .light {
  font-family: "regular";
}
/* line 205, ../sass/dropdown.scss */
#container #wrapper .main .entry {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: auto;
  display: block;
  margin-bottom: 20px;
  background-color: #69C6D7;
  border: 2px solid #69C6D7;
  transition: 1s ease;
  padding: 0px;
}
/* line 218, ../sass/dropdown.scss */
#container #wrapper .main #icons {
  height: 100px;
  width: 90%;
  margin: auto;
  margin-top: 0px;
  transition: 2.5s ease;
  opacity: 1;
}
/* line 226, ../sass/dropdown.scss */
#container #wrapper .main #icons .icon {
  width: 19%;
  height: 100px;
  display: inline-block;
  margin: 0px;
  background-repeat: no-repeat;
  background-size: auto 60px;
  background-position: center;
  transition: 0.2s ease;
}
@media screen and (max-width: 800px) {
  /* line 226, ../sass/dropdown.scss */
  #container #wrapper .main #icons .icon {
    background-size: auto 40px;
  }
}
/* line 240, ../sass/dropdown.scss */
#container #wrapper .main #icons .icon.dribbble {
  background-image: url("../files/dribbble.png");
}
/* line 243, ../sass/dropdown.scss */
#container #wrapper .main #icons .icon.website {
  background-image: url("../files/website.png");
}
/* line 246, ../sass/dropdown.scss */
#container #wrapper .main #icons .icon.github {
  background-image: url("../files/github.png");
}
/* line 249, ../sass/dropdown.scss */
#container #wrapper .main #icons .icon.email {
  background-image: url("../files/email.png");
}
/* line 252, ../sass/dropdown.scss */
#container #wrapper .main #icons .icon.linkedin {
  background-image: url("../files/linkedin.png");
}
